* {
    box-sizing: border-box;
}

.App {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.bathtub-container {
    width: 440px;
    text-align: center;
}
.bathtub-controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
}
.bathtub-controls button {
    cursor: pointer;
}
.bathtub-controls article:first-child {
    margin-bottom: 5px;
}
.bathtub-controls label {
    display: block;
    font-weight: 600;
    width: 100%;
}
.bathtub-controls select {
    width: 100%;
}
.bathtub-tub {
    align-items: flex-end;
    border: solid 4px #000;
    border-top: none;
    display: flex;
    flex-direction: column-reverse;
    height: 240px;
    width: 100%;
}
.bathtub-waterlevel {
    border-top: solid 1px rgb(80, 80, 230);
    height: 20px;
    width: 100%;
}
.bathtub-waterlevel.level-9  { background-color: rgb(180, 180, 230); }
.bathtub-waterlevel.level-8  { background-color: rgb(160, 160, 230); }
.bathtub-waterlevel.level-7  { background-color: rgb(140, 140, 230); }
.bathtub-waterlevel.level-6  { background-color: rgb(120, 120, 230); }
.bathtub-waterlevel.level-5  { background-color: rgb(100, 100, 230); }
.bathtub-waterlevel.level-4  { background-color: rgb(80, 80, 230); }
.bathtub-waterlevel.level-3  { background-color: rgb(60, 60, 230); }
.bathtub-waterlevel.level-2  { background-color: rgb(40, 40, 230); }
.bathtub-waterlevel.level-1  { background-color: rgb(20, 20, 230); }
.bathtub-waterlevel.level-0  { background-color: rgb(0, 0, 230); }
